

.project{
    margin-top: 40px;
    margin-left: 700px;
    align-self: center;
    margin-right: 40px;
}
.topic{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 40px;


}
.text{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 40px;
    

}
.world_time{
    margin-bottom: 10px;
    margin-left: 450px;
    margin-right: 40px;
}

.spinkit_1{
    width: 200px;
    height:400px;
    object-fit:fill;
}
.spinkit_2{
    width: 200px;
    height:400px;
    object-fit:fill;

}
.landing_page{
   margin-left: 480px;
    width: 200px;
    height:400px;
    object-fit:fill;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 40px;

}
.topic1{
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 40px;   
}
.day_time{
    margin-bottom: 10px;
    margin-left: 440px;
    margin-right: 40px;

}
.chicago{
    width: 200px;
    height:400px;
    object-fit:fill;
}
.lagos{
    width: 200px;
    height:400px;
    object-fit:fill;
}
.london{
    width: 200px;
    height:400px;
    object-fit:fill;
}


.night_time{
    margin-bottom: 10px;
    margin-left: 430px;
    margin-right: 40px;
}
.jarkata{
    width: 200px;
    height:400px;
    object-fit:fill;

}
.seoul_night{
    width: 200px;
    height:400px;
    object-fit:fill;

}

.login_page{
    margin-bottom: 10px;
    margin-left: 430px;
    margin-right: 40px;
}
.login{
    width: 200px;
    height:400px;
    object-fit:fill;
}
.reg_page{
    margin-left: 470px;
    width: 200px;
    height:400px;
    object-fit:fill;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 40px;

}
.loged_in{
    margin-bottom: 10px;
    margin-left: 430px; 
    margin-right: 40px;  
}
.loged_1{
    width: 200px;
    height:400px;
    object-fit:fill;

}
.loged_2{
    width: 200px;
    height:400px;
    object-fit:fill;
}
.loged_3{
    width: 200px;
    height:400px;
    object-fit:fill;
}
.spinkit_1_{
    width: 650px;
    height:450px;
    object-fit:fill;
    margin-left: 465px;
    margin-bottom: 30px;
}
.spinkit_2_{
    width: 650px;
    height:450px;
    margin-left: 465px;
    margin-right: 40px;
}
.flutter{
    height: 600px;
   
  
}