<div class="flutter">
<h3 class="project">PROJECT ONE</h3>
<h4 class="topic">WORLD TIME APP</h4>
<p class="text">The app will detect the time for any country at any instant time. 
  It was developed using the world time API. The app will display a day mode if the time for the
   country is still day time and night mode if the time for the country is night time.</p>
<h4 class="topic">LOADING PAGE OF THE APP USING THE FLUTTER SPIN KIT</h4>

<div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="world_time">
    <ul fxLayout="row" fxLayoutGap="100px">
  
      <img class="spinkit_1" src="assets/spinkit_1.png" alt="image">
      <img class="spinkit_2" src="assets/spinkit_2.png" alt="image">
      
    </ul>
  </div> 
</div>

  <h4 class="topic1">THE LANDING PAGE OF THE APP AFTER LOADING</h4>

  <img class="landing_page" src="assets/landing_page.png" alt="image">

  <h4 class="topic1">DAY TIME MODE FOR SOME PLACES</h4>
  <h5 class="text">This view will be displayed if the time of the location is day time</h5>

  <div>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="day_time">
      <ul fxLayout="row" fxLayoutGap="50px">
    
        <img class="chicago" src="assets/chicago_day.png" alt="image">
        <img class="lagos" src="assets/lagos_day.png" alt="image">
        <img class="london" src="assets/london_day.png" alt="image">
       
      </ul>
    </div> 
  </div>

  <h4 class="topic1">NIGHT TIME FOR SOME PLACES</h4>
  <div>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="night_time">
      <ul fxLayout="row" fxLayoutGap="100px">
    
        <img class="jarkata" src="assets/flutter_brew_jarkata_night.png" alt="image">
        <img class="seoul_night" src="assets/seoul_night.png" alt="image">
        
        
      </ul>
    </div> 
  </div>


  <h3 class="project">PROJECT TWO</h3>
  <h4 class="topic">COFFEE ORDERING/REQUEST APP</h4>
  <h5 class="text">The user of the app order for a coffee. The request is updated to the cloud firestore database when the request is made. The user can decide the thickness of the coffee wanted. It will get updated to the cloud firestore and also update to the app whenever any changes in coffee requirements are made.</h5>
  <h4 class="topic">THE SIGN IN PAGE</h4>
  <h5 class="text">The user sign in with email and password. This details was used with firebase authentication. Restrictions were put to the login of the user. If expected requirements were not entered correctly in the field, the user gets a notification message.</h5>

  <div>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="login_page">
      <ul fxLayout="row" fxLayoutGap="100px">
    
        <img class="login" src="assets/brew_reg_1.png" alt="image">
        <img class="login" src="assets/brew_reg_2.png" alt="image">
        
        
      </ul>
    </div> 
  </div>

  <h4 class="topic">USER LOGGED IN PAGE</h4>
  <h5 class="text">This page is displayed when the user logged in successfully. The app reads the user and determine whether it is a new
  or an already existing user. The last record is get displayed
  </h5>

  <div>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="loged_in">
      <ul fxLayout="row" fxLayoutGap="30px">
    
        <img class="loged_1" src="assets/flutter_brew_loged_in_brew.png" alt="image">
        <img class="loged_2" src="assets/flutter_brew_loged_in.png" alt="image">
        <img class="loged_3" src="assets/flutter_brew_loged_in2.png" alt="image">
       
        
      </ul>
    </div> 
  </div>

  <h4 class="topic">
    THE REGISTRATION PAGE
    </h4>
    <h5 class="text">The user start using the app when registered. The key two detail for registration are email and password. The app uses firebase email and password authentication.</h5>

    <img class="reg_page" src="assets/brew_reg.png" alt="image">

    <h4 class="topic">THE SETTINGS PAGE</h4>
    <h5 class="text">This is the page where the user will select the type of coffee wanted, the number of sugars to be added to the coffee. The user also selects the thickness of the coffee wanted. The selected data gets updated to the database.</h5>
    <div>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="world_time">
        <ul fxLayout="row" fxLayoutGap="100px">
      
          <img class="spinkit_1" src="assets/settings_1.png" alt="image">
          <img class="spinkit_2" src="assets/settings_2.png" alt="image">
          
          
        </ul>
      </div> 
    </div>

    <h4 class="topic">THE DATABASE COLLECTION OF THE USER SELECTIONS IN PLACING AN ORDER</h4>
    <h5 class="text">The database constantly changes as the user update their data</h5>

          <img class="spinkit_1_" src="assets/flutter_brew_database.png" alt="image">
          
          
        
    <h4 class="topic">FIREBASE AUTHENTICATIOIN</h4>
          <img class="spinkit_2_" src="assets/flutter_brew_database_auth.png" alt="image">
          
        </div>