<div class="about">

<p class="text">I am Agbo Vincent. Bachelor of Engineering (Electronic Engineering). I gradudated from
    univesity of Nigeria Nsukka. I made 2.1 (second class honors upper division).I am from Enugu,
    Nigeria. I am software
    Engineering enthusiast. I develop mobile apps using java and flutter, and front end web applications
    using the angular framework.
    I am a proficient software developer. I started writing code since my second year in the
    university. I have been working on my programming skills since then. I learn fast, creative
    and ready to work. I put in my best for my career even under pressure 
    and i never give up on my goals.
    

</p>
</div>