
<mat-nav-list>
    <div class="profile-card">
        <div class="header">
        <div class="">
            <h2> Agbo Vincent</h2>
            <h4>Bachelor of Electronic Engineering</h4>
            <h5>agbovincent100@gmail.com</h5>
        </div>
        <!-- <img src="https://byteworks.com.ng/images/excellence-icon.png" alt="Agbo vincent" > -->
        <img src="assets/passport.JPG" alt="Agbo vincent" >
     </div>
          <mat-divider></mat-divider>
          <h2 matSubheader>Pages</h2>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/languages">Skills</a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/ref">References</a>
         
        <mat-divider></mat-divider>
        
        <h2 matSubheader>Other</h2>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/goals">
        
            Career goals
        </a>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/leads">
            
            Leads
        </a>
    </div>
</mat-nav-list>

