   .ui_gads{
    margin-top: 10px;
    margin-left: 400px;
    width: 100px;
  
   }
   .ui_gads_1{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 40px;
    
   }

   .launcher{
    width: 200px;
    height:450px;
    object-fit:fill;
    
   
   
}
.learning{
    width: 200px;
    height:450px;
    object-fit:fill;
    
   
   
}
.skill{
    width: 200px;
    height:450px;
    object-fit:fill;
}
.form{
    width: 200px;
    height:450px;
    object-fit:fill;
}
.query{
    width: 200px;
    height:450px;
    object-fit:fill;
}
.success{
    width: 200px;
    height:450px;
    object-fit:fill;
}
.fail{
    width: 200px;
    height:450px;
    object-fit:fill;
}
.birthday{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 40px;

}
.intro_1{
    width: 250px;
    height:450px;
    object-fit:fill;

}
.birthday_1{
    width: 250px;
    height:450px;
    object-fit:fill;

}
.birthday_2{
    width: 250px;
    height:450px;
    object-fit:fill;

}
.wedding{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 40px;

}
.intro_2{
    width: 250px;
    height:450px;
    object-fit:fill;

}
.wedding_1{
    width: 250px;
    height:450px;
    object-fit:fill;

}
.wedding_2{
    width: 250px;
    height:450px;
    object-fit:fill;

}

.driver{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 40px;
}
.launcher_driver{
    width: 250px;
    height:450px;
    object-fit:fill;

}

.reg_driver{

    width: 200px;
    height:350px;
    object-fit:fill;
}
.login_driver{
    width: 200px;
    height:250px;
    object-fit:fill;
}
.rider{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 40px;
}
.launcher_rider{
    width: 250px;
    height:450px;
    object-fit:fill;
}
.reg_rider{
    width: 200px;
    height:350px;
    object-fit:fill;
}
.login_rider{
    width: 200px;
    height:250px;
    object-fit:fill;
}
.class_app{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 40px;

}
.class_launcher{
    width: 250px;
    height:450px;
    object-fit:fill;
}
.loged_in{
    width: 250px;
    height:450px;
    object-fit:fill;
}
.profile_image{
    width: 250px;
    height:450px;
    object-fit:fill;
}
.class_materials{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 40px;
}
.materials{
    width: 250px;
    height:450px;
    object-fit:fill;
}
.class_info{
    width: 250px;
    height:450px;
    object-fit:fill;
}
.animation_xd{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 40px;
}
.animation{
    width: 500px;
    height:400px;
    object-fit:fill;
    margin-bottom: 20px;
}

.gads_text{
    margin-top: 40px;
    margin-left: 420px;
}
.cake_text{
    margin-top: 40px;
    margin-left: 420px;

}
.cruise_text{
    margin-top: 40px;
    margin-left: 420px;
}
.cruise_rider_text{
    margin-top: 40px;
    margin-left: 420px;
}
.class_app_text{
    margin-top: 40px;
    margin-left: 420px;
}
.anim_text{
    margin-top: 40px;
    margin-left: 420px;
}

.ui{
    height: 600px;
  
}