<div class="ui">
<h2 class="gads_text">1. Google Africa Developer Scholarship user interface design</h2>


<div>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="ui_gads">
        <ul fxLayout="row" fxLayoutGap="20px">
          <img class="launcher" src="assets/launcher.jpg" alt="image">
          <img class="learning"src="assets/learning.png" alt="image">
          <img class="skill"src="assets/skill.png" alt="image">

        </ul>
    </div> 
</div>



<div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="ui_gads_1">
      <ul fxLayout="row" fxLayoutGap="10px">

        <img class="form" src="assets/form.png" alt="image">
        <img class="query"src="assets/query.png" alt="image">
        <img class="success"src="assets/success.png" alt="image">
        <img class="fail"src="assets/fail.png" alt="image">
</ul>
</div> 
</div>

<h2 class="cake_text">2. Cake application User Interface design</h2>

<div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="birthday">
      <ul fxLayout="row" fxLayoutGap="20px">

        <img class="intro_1" src="assets/birthday_intro_1.png" alt="image">
        <img class="birthday_1"src="assets/birthday_1.png" alt="image">
        <img class="birthday_2"src="assets/birthday_2.png" alt="image">
        
</ul>
</div> 
</div>
<div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="wedding">
      <ul fxLayout="row" fxLayoutGap="20px">

        <img class="intro_2" src="assets/birthday_intro_2.png" alt="image">
        <img class="wedding_1"src="assets/wedding_1.png" alt="image">
        <img class="wedding_2"src="assets/wedding_2.png" alt="image">
        
</ul>
</div> 
</div>
<h2 class="cruise_text">3. Cruise me Driver application user interface design</h2>
<div>
<div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="driver">
  <ul fxLayout="row" fxLayoutGap="20px">

    <img class="launcher_driver" src="assets/cruise_driver.png" alt="image">
    <img class="reg_driver"src="assets/reg_driver.png" alt="image">
    <img class="login_driver"src="assets/login_driver.png" alt="image">
    
</ul>
</div> 
</div>
<h2 class="cruise_rider_text">4. Cruise me Rider application user interface design</h2>
<div>
<div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="rider">
  <ul fxLayout="row" fxLayoutGap="20px">

    <img class="launcher_rider" src="assets/cruise_rider.png" alt="image">
    <img class="reg_rider"src="assets/reg_rider.png" alt="image">
    <img class="login_rider"src="assets/login_rider.png" alt="image">
    
</ul>
</div> 
</div>

<h2 class="class_app_text">5. Classroom application user interface design</h2>
<div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="class_app">
    <ul fxLayout="row" fxLayoutGap="20px">
  
      <img class="class_launcher" src="assets/class_launcher.png" alt="image">
      <img class="loged_in"src="assets/loged_in.png" alt="image">
      <img class="profile_image"src="assets/profile_image.png" alt="image">
      
  </ul>
  </div> 
  </div>

  <div>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="class_materials">
      <ul fxLayout="row" fxLayoutGap="50px">
    
        <img class="materials" src="assets/materials.png" alt="image">
        <img class="class_info"src="assets/class_info.png" alt="image">
        
        
    </ul>
    </div> 
    </div>
    <h2 class="anim_text">6. Rotational Animation design</h2>
    <div>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="animation_xd">
        <ul fxLayout="row" fxLayoutGap="20px">
      
          <img class="animation" src="assets/animation.png" alt="image">
          
          
          
      </ul>
      </div> 
      </div>
      <h2 class="anim_text">7. Auto Animation design</h2>
      <div>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="class_materials">
          <ul fxLayout="row" fxLayoutGap="50px">
        
            <img class="materials" src="assets/ui/hbd1.png" alt="image">
            <img class="class_info"src="assets/ui/hbd2.png" alt="image">
            
            
        </ul>
        </div> 
        </div>

        <h2 class="anim_text">8. Login design</h2>
      <div>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" class="class_materials">
          <ul fxLayout="row" fxLayoutGap="50px">
        
            <img class="materials" src="assets/ui/login1.png" alt="image">
            <img class="class_info"src="assets/ui/login2.png" alt="image">
            
            
        </ul>
        </div> 
        </div>
      
    </div>