footer{
    padding: 20px;
    position: sticky;
    margin-bottom: 0px;
    width: 100%;

    background-color: lightblue;
}


.phone{
    margin-left: 500px;
    margin-right: 20px;
}
.email{
    margin-left: 100px;
    margin-right: 20px;
}

.email_text{
    margin-right: 50px;
}